<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198214174263-a24e3ft4m98b5k24dqjt69put3p9olqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198214174263-a24e3ft4m98b5k24dqjt69put3p9olqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQVT8hgwCfLO9MflgNyhtW2NLteflb8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>198214174263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLecon</string>
	<key>PROJECT_ID</key>
	<string>lecturer-con</string>
	<key>STORAGE_BUCKET</key>
	<string>lecturer-con.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198214174263:ios:5f89b55e7e710a4850a1b2</string>
</dict>
</plist>